on: [pull_request, push]
jobs:
  main:
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on:  ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rome
        uses: ./
        with:
          preview: true

      - name: Run Rome
        run: rome --help